/* GLOBAL */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'Rubik',sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #4a4b4c;
  line-height: 22px;
}

/* CONTAINER */
.container {
  max-width: 1300px;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
}

/* HEADER */ 
.site-header-top {
  background-color: #f6f6f6;
  padding-top: 30px;
  padding-bottom: 30px;
}

.site-header-top-container {
  display: flex;
  align-items: center;
}

.site-logo {
  display: flex;
  background-color: #fff;
  border-radius: 7px;
  padding: 6px 8px;
  margin-right: 35px;
}

/* CURRENCY */
.currency {
  margin-right: auto;
}

.currency-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.currency-item:not(:last-child){
  margin-right: 25px;
}

.currency-item-type {
  color:#2959ce;
}

/* GLOBAL SEARCH */


/*TOGGLE */
.language-toggle {
  display: flex;
  background: #dce6ff;
  border-radius: 39px;
  padding: 3px;
  margin-right: 25px;
}

.language-toggle-item {
  height: 30px;
  width: 30px;
  text-decoration: none;
  font-size: 13px;
  color: #a6a6a6;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
}

.language-toggle-item-active {
  background-color: #fff;
  color: #000;
}

.button {
  text-decoration: none;
  padding: 13px 20px;
  color: #fff;
  border-radius: 10px;
}

.button-primary {
  background-color: #7296ec;
}

/* NAVBAR */
.sitenav {
  margin-top: 30px;
}

.sitenav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sitenav-item:not(:last-child) {
  margin-right: 34px;
}

.sitenav-link {
  color:#7F7F7F ;
  font-weight: 500;
  text-decoration: none;
  font-size: 18px;
}

.reklama-img {
  margin-top: 60px;
  border-radius: 8px;
}

/* MAIN SECTION */
.main-container {
  margin-top: 40px;

}

.main-div-container-one {
 display: flex;
 align-items: center;
 margin-bottom: 20px;
}

.main-div-container-two {
  display: flex;
  align-items: center;
  margin-bottom: 55px;
}

.top-news {

}

.news-grid {

}

.news-grid-article {
  width: 393px;
  /* height: 382px; */
}

.article-card {
  background: #F6F6F6;
  border-radius: 10px;
  padding: 20px 17px;

}

.top-news:not(:last-child) {
  margin-right: 10px;
}

.news-article-title {
  width: 346px;
  height: 78px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}

.news-article-link {
  text-decoration: none;
  color: #000;
}

.news-article-img {
  border-radius: 10px; 
  margin-bottom: 18px ;
}

.news-footer {
  display: flex;
  align-items: center;
}

.news-article-footer-icon {

}

.news-article-footer-source {
   margin-left: 20px;
}

time {
  margin-left: 5px;
}

.order-news {
  background: url(/images/background.png);
  background-repeat: no-repeat;
  margin-left: 430px;
  margin-bottom: 55px;
  display: flex;
  align-items: center;
}

.order-news-title {
  padding: 30px 20px;
  width: 454px;
  font-size: 20px;
  align-items: center;
  margin-bottom: auto;
  margin-top: auto;
}

.order-link {
  text-decoration: none;
  color: #fff;
  margin-left: auto;margin-right: auto;
  font-size: 25px;
  background: #F78B3B;
  padding: 13px 30px;
  border-radius: 10px;
  margin-bottom: auto;
  margin-top: auto;
}

/* LAST NEWS */

.last-news-main-div {
  display: flex;
  /* align-items: center; */
}

.last-news-card {
  display: flex;
  width: 800px;
  background: #f6f6f6;
  padding: 20px 17px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.last-news-title {
  color: #000;
}

.last-news-link {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
}

.last-news-article {
  width: 535px;
  margin-right: auto;
  margin-left: auto;
}

.last-news-img {
  border-radius: 10px;
  width: 200px;
  height: 165px;
}

.main-news-div {
  margin-right: auto;
  margin-left: auto;
  padding: 20px 17px; 
  background: #f6f6f6;
  border-radius: 10px;
}

.main-news-article {
  width: 310px;
}

.main-news-title {
  font-size: 22px;
  line-height: 28px;
}

.main-news-info {
  border-bottom: 2px solid #4a4b4c;
  padding: 15px;
  width: 310px;
}

.main-news-link {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  width: 360px;
}

.article-uzb {
  width: 360px;
}

.main-news-miniturizm {
  border-bottom: 0;
  width: 330px;
}

.advertisiment-img {
  border-radius: 10px;
}

.again-div {
  margin-top: 35px;
  width: 800px ;
  background: #eaeaea;
  padding: 25px;
}

.again-link {
  text-decoration: none;
  color:#000;
  margin-right: auto;
  margin-left: auto;
  font-weight: 500;
}